body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #3e76dd;
  font-family: 'Comic Sans MS';
}

header {
  background-color: #0026ff;
  color: white;
  padding: 20px;
  position: relative;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

.voltar {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: #0004ff;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

.voltar:hover {
  background-color: #b5baff;
}

main {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.comida {
  background-color: #8ca1ff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.comida h3 {
  margin: 10px 0 5px 0;
}

.comida span {
  font-weight: bold;
  color: #0e00d3;
  display: block;
  margin-bottom: 10px;
}

.comida img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

footer {
  background-color: #2f00ff;
  text-align: center;
  padding: 10px;
}
