body {
  font-family: 'Comic Sans MS', Arial, sans-serif;
  margin: 0;
  background-color: #fff0d5; /* fundo claro tipo palha */
}

header {
  background-color: #e94e1b; /* vermelho fogueira */
  color: white;
  padding: 20px;
  position: relative;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

.voltar {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: #c14400; /* laranja queimado */
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

.voltar:hover {
  background-color: #fff3e0; /* hover suave tipo pamonha */
}

main {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.comida {
  background-color: #fff2b2; /* amarelo tipo curau */
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  box-shadow: 2px 2px 8px rgba(255, 119, 0, 0.2);
}

.comida h3 {
  margin: 10px 0 5px 0;
}

.comida span {
  font-weight: bold;
  color: #b34700; /* tom caramelo */
  display: block;
  margin-bottom: 10px;
}

.comida img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

footer {
  background-color: #ffc966; /* amarelo canjica */
  text-align: center;
  padding: 10px;
}

