 body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #fff2e0; /* amarelo bem claro */
}

header {
  background-color: #ffb347; /* laranja suave */
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.voltar {
  background-color: white;
  color: #ff9900;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Comic Sans MS';
}

.voltar:hover {
  background-color: #ffe6cc; /* tom claro para hover */
}

h1 {
  margin: 0 auto;
  font-size: 24px;
}

main {
  padding: 40px;
  max-width: 800px;
  margin: auto;
}

h2 {
  color: #e67300; /* laranja mais suave */
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #ffe0b3; /* bege/amarelo bem clarinho */
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
  font-size: 18px;
}

footer {
  background-color: #ffd480; /* amarelo dourado claro */
  text-align: center;
  padding: 10px;
}
