 body {
  font-family: 'Comic Sans MS', Arial, sans-serif;
  margin: 0;
  background-color: #fff0d5; /* fundo claro tipo palha */
}

header {
  background-color: #e94e1b; /* vermelho fogueira */
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.voltar {
  background-color: white;
  color: #c14400; /* laranja queimado */
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Comic Sans MS';
}

.voltar:hover {
  background-color: #fff3e0; /* hover bem leve */
}

h1 {
  margin: 0 auto;
  font-size: 24px;
}

main {
  padding: 40px;
  max-width: 800px;
  margin: auto;
}

h2 {
  color: #db8400; /* amarelo queimado tipo milho */
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff2b2; /* amarelo clarinho tipo curau */
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(255, 102, 0, 0.2);
  font-size: 18px;
}

footer {
  background-color: #ffc966; /* amarelo canjica */
  text-align: center;
  padding: 10px;
}

