 body {
      font-family: Arial, sans-serif;
      margin: 0;
      background-color: #fff8dc;
    }

    header {
      background-color: #ff4500;
      padding: 20px;
      color: white;
      text-align: center;
    }

    nav {
      margin-top: 10px;
    }

    nav a {
      margin: 0 15px;
      text-decoration: none;
      color: white;
      font-weight: bold;
    }

    main {
      max-width: 800px;
      margin: 20px auto;
      padding: 10px;
    }

    .destaque{
      background-color: white;
      margin-bottom: 20px;
      padding: 40px;
      border-left: 5px solid red;
      border-radius: 5px;
      box-shadow: 0 0 5px orangered;
      text-align: center;
    }
    .destaque h2{
      margin-bottom: 10px;
      color: rgb(255, 96, 33);
    }

    h1 {
      margin-bottom: 10px;
    }